@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .desktop-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 3rem;
  }
  .menu-item {
    padding: 0.3rem 0rem;
    width: fit-content;
    font-size: 1rem;
  }
  .cart-wrapper {
    right: 15%;
  }
  .product-row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 2rem;
  }
  .product-row-left {
    width: 50%;
  }
  .product-row-right {
    width: 50%;
  }
  .munus i,
  .plus i {
    font-size: 2rem;
  }
  .input {
    font-size: 1.6rem;
  }
  #slider-thums {
    display: flex;
  }
  .swiper-slide img {
    border-radius: 1rem;
  }
}

@media (min-width: 1020px) {
  .product-row {
    gap: 5rem;
    padding: 5rem 0;
  }
  .mySwiper2 .swiper-slide {
    width: 100%;
    padding: 1rem 5rem;
  }
  .mySwiper {
    width: 100%;
    padding: 1rem 5rem;
  }
  /* .swiper-slide img {
    border-radius: 1rem;
  } */

  .mySwiper .swiper-slide {
    width: 5%;
  }
  .product-prices {
    margin-top: 2rem;
  }
  .product-company {
    font-size: 1.5rem;
  }
  .product-title {
    font-size: 3rem;
  }
  .old-price {
    font-size: 1.5rem;
  }
  .product-desc {
    font-size: 1.5rem;
  }
  .slider-btns {
    padding: 0 6rem;
  }
  /* .cart-area {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    } */
  /* .add-to-cart,
  .quantity-selector {
    width: 50%;
  } */
}
